.box{
   width: 250px;
   height: 250px;
    border: 1px solid black;
    display: inline-block;
    margin: -5px;
    background-color: #EFF7FF;
    text-align: center;
    font-size: 80px;
    /* padding-top: 70px; */
}

.black{
    background-color: #DA6C9C;
}

.border{
    display: inline-block;
    border: 200px solid #3f1f3f;
    border-radius: 200px;

}
