.navbar{
    max-height: 200px;
    background-color: rgb(12, 6, 6);
}

div.uper{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

/* .neechay{
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
} */

a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

a:hover{
    color: #a18126;
    transition: 0.2s ease-in;
}
img{
    height: 120px;
    margin-bottom: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
}