*{
    color: #fff;
}

#navbar{
height: 70px;
background-color: #000;
}

#logo{
    margin-left: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 500;
    font-size: large;
    display: inline-block;
}

#dash{
    display: inline;
    margin-left: 200px;
}

a{
    text-decoration: none;
    margin-top: 50px;
    margin-right: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}